* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  /* colors */
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-Desaturated-Blue: hsl(238, 22%, 44%);
  --accent-blue: hsl(224, 93%, 58%);
  --accent-cyan: hsl(170, 45%, 43%);
  --neutral-blue: hsl(240, 75%, 98%);
  --neutral-gray: hsl(0, 0%, 75%);

  /* opens sans Font { Heading -  Header Navigation - Call-to-actions } */
  --open-sans: 'Open Sans', sans-serif;

  /* raleway Font { Body Font } */
  --raleway: 'Raleway', sans-serif;
}

/* Start Container Props */
.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 400px;
}
/* medias of containers */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Container Props */


/* Start Header  */
header .container {
  max-width: none;
  font-family: var(--open-sans);
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 2rem 15px;
}
header .logo {
  display: flex;
}
header .logo img {
  height: 30px;
  margin-right: 1rem;
}
@media(min-width: 767px) {
  header .logo img {
    height: 35px;
  }
}
header nav {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
header ul {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}
header ul li a {
  color: var(--primary-dark-blue);
}
/* End Header */

/* Start Inroduction */
.intro .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  font-family: var(--open-sans);
}
.intro .intro-img,
.intro .intro-heading {
  flex: 1;
}
.intro img {
  width: 100%;
  margin: 2rem 0;
}
.intro h1 {
  font-weight: 700;
  font-size: 26px;
  color: var(--primary-dark-blue);
}
.intro p {
  color: var(--primary-dark-blue);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Start Form Styles */
.intro form {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.intro form input[type="email"] {
  padding: .75rem 1.5rem;
  margin: 1rem 0;
  font-family: var(--open-sans);
  border: 1px solid var(--primary-dark-blue);
  border-radius: 3px;
}
.intro form input[type="email"]::placeholder {
  font-family: var(--raleway);
} 
.intro form input[type="email"]:invalid {
  border: 1px solid red;
}
.intro form .email-error {
  position: absolute;
  bottom: -20px;
  font-family: var(--open-sans);
  font-size: 12px;
  color: red;
  opacity: 0;
}
.intro form input[type="email"]:invalid + .email-error {
  opacity: 1;
}
.intro form input[type="button"] {
  padding: .75rem;
  font-size: 14px;
  font-family: var(--raleway);
  font-weight: 700;
  background-color: var(--accent-blue);
  color: var(--neutral-blue);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.intro form input[type="button"]:hover {
  opacity: .7;
}

/* End Form styles */


@media(min-width: 767px) {
  .intro .container {
    font-family: var(--raleway);
    text-align: left;
    flex-direction: row-reverse;
    align-items: center;
    max-width: none;
  }
  .intro h1 {
    font-size: 2rem;
    max-width: 530px;
  }
  .intro p {
    max-width: 510px;
    font-family: var(--open-sans);
  }
  /* Start Form Adj */
  .intro form {
    flex-direction: row;
    max-height: 50px;
    gap: 1rem;
  }
  .intro form input[type="email"] {
    flex-basis: 50%;
    margin: 0;
  }
  .intro form input[type="button"] {
    flex-basis: 30%;
  }
  /* End Form Adj */
}
/* End Introduction */

/* Start productive */
.productive {
  margin-top: 6rem;
}

/* Start background color and curves */
.productive img[alt = "mobile curve"],
.productive img[alt = "desktop curve"], 
.productive img[alt = "hero-2"] {
  display: block;
  width: 100%;
}
.productive img[alt = "desktop curve"] {
  display: none;
}
@media(min-width: 767px) {
  .productive img[alt = "mobile curve"] {
    display: none;
  }
  .productive img[alt = "desktop curve"] {
    display: block;
  }
}
.productive .overlay {
  background-color: var(--neutral-blue);
  padding-bottom: 2rem;
}
/* End background color and curves */

.productive img[alt = "hero-2"] {
  padding: 3rem 0;
}
.productive .heading {
  color: var(--primary-dark-blue);
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--raleway);
}
.productive .content p {
  max-width: 330px;
  color: var(--primary-Desaturated-Blue);
  font-family: var(--open-sans);
  font-size: 14px;
  margin: 0 auto;
}
.productive .second-para {
  margin: 1rem auto !important   ;
}
.productive .content a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  font-family: var(--open-sans);

  margin-top: 2rem;
  color: var(--accent-cyan);
}
.productive .content a:hover {
  filter: brightness(1.4);
  -webkit-filter: brightness(1.4);
  -o-filter: brightness(1.4);
  -moz-filter: brightness(1.4);
  -ms-filter: brightness(1.4);
}


/* Start Testomonial */
.productive .box {
  max-width: 300px;
  font-family: var(--open-sans);
  color: var(--primary-Desaturated-Blue);
  background-color: white;
  margin: 2rem;
  padding: 1rem 17px;
  border-radius: 5px;
}
.productive .box blockquote {
  margin: .75rem 0;
  font-size: 11px;
  font-weight: 700;
}
.productive .box .reviewer {
  display: flex;
  align-items: center;
}
.productive .box .reviewer img {
  margin-right: .5rem;
  height: 35px;
  border-radius: 50%;
}

.productive .box .name {
  font-size: .8rem;
  font-weight: 700;
}
.productive .box .role {
  font-size: .7rem;
}
/* End Testomonial */

@media(min-width: 767px) {
  .productive .container {
    display: flex;
    flex-direction: row-reverse;
    max-width: none;
  }
  .productive .container > * {
    flex-basis: 50%;
  }
  .productive .container > .content {
    flex-basis: 60%;
  }
  .productive .content > *:not(.box) {
    margin: 0 0 1rem !important;
  }
  .productive .heading {
    text-align: left;
    font-size: 2rem;
  }
  .productive .content p  {
    color: var(--primary-dark-blue);
    max-width: 475px;
    font-size: 14px;
  }
  .productive .content a {
    justify-content: start;
  }
  .productive .content .box {
    margin: 2rem 0;
    padding: 1rem 2rem;
  }
}
/* End productive */

/* Start Access  */
.access {
  background-color: var(--primary-Desaturated-Blue);
  text-align: center;
  padding: 3rem 0;
  color: var(--neutral-blue);
  font-family: var(--raleway);
} 
.access .access-title {
  font-size: 1rem;
}
.access .access-para {
  margin: 1rem auto;
  font-size: 14px;
  max-width: 275px;
  line-height: 1.5;
}
.access .access-form {
  position: relative;
}
.access .access-email, 
.access .access-btn {
  min-width: 60%;
}
.access .access-email {
  border: 0;
  border-radius: 2px;
  padding: .75rem;
  margin-bottom: .5rem;
}
.access .access-email::placeholder {
  font-family: var(--raleway);
}
.access .access-email:invalid {
  margin-bottom: 1.75rem;
  border: 1px solid red;
}
.access .access-error {
  display: none;
  position: absolute;
  font-size: 11px;
  top: 45px;
}
.access .access-email:invalid +.access-error {
  display: block;
}
.access .access-btn {
  border: 0;
  padding: .75rem;
  font-family: var(--raleway);
  font-size: 12px;
  font-weight: 700;
  background-color: var(--accent-blue);
  color: var(--neutral-blue);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.access .access-btn:hover {
  filter: brightness(1.2);
}
/* Start access media */
@media(min-width: 767px) {
  .access {
    text-align: left;
  }
  .access .container {
    display: flex;
    justify-content: space-between;
    max-width: none;
  }
  .access .container > * {
    flex-basis: 40%;
  }
  .access .access-title {
    font-size: 1.75rem;
  }
  .access .access-email {
    width: 100%;
    margin-bottom: .75rem;
  }
  .access .access-btn {
    min-width: 40%;
  }
  .access .access-para {
    min-width: 430px;
    margin: 1rem 0;
  }
}
/* End access media */

/* End Access */

/* Start footer */
footer a {
  color: var(--neutral-blue);
}
footer {
  font-family: var(--open-sans);
  padding: 3rem 2rem;
  background-color: var(--primary-dark-blue);
  color: white;
}
footer .footer-content h2{
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
footer .container {
  margin: 0 auto;
  max-width: 400px;
}
.footer-content {
  margin-bottom: 3rem;
}
.footer-content .logo {
  margin-bottom: 2rem;
}
.footer-content [alt="phone-photo"], 
.footer-content [alt="email-photo"] {
  margin-right: .5rem;
}
.footer-content li {
  margin-bottom: 1rem;
}
footer .social {
  margin: 0;
}
footer .social ul {
  display: flex;
  justify-content: center;
}
footer .social i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 1rem;
  margin: 0 .25rem;
  border: 1px solid var(--neutral-blue);
  border-radius: 50%;
  font-size: 14px;
}

/* Start footer media */
@media(min-width: 767px) {
  footer {
    padding: 5rem 0;
  }
  .footer-content {
    margin: 0 ;
    margin-top: 1rem;
  }
  footer .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: none;
  }
  footer .container > div:not(:first-child){
    margin-top: 6rem;
  }
}

/* End footer media */

/* End footer */