* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  /* colors */
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-Desaturated-Blue: hsl(238, 22%, 44%);
  --accent-blue: hsl(224, 93%, 58%);
  --accent-cyan: hsl(170, 45%, 43%);
  --neutral-blue: hsl(240, 75%, 98%);
  --neutral-gray: hsl(0, 0%, 75%);

  /* opens sans Font { Heading -  Header Navigation - Call-to-actions } */
  --open-sans: 'Open Sans', sans-serif;

  /* raleway Font { Body Font } */
  --raleway: 'Raleway', sans-serif;
}

/* Start Container Props */
.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}
/* medias of containers */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Container Props */


/* Start Header  */
header .container {
  font-family: var(--open-sans);
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 2rem 15px;
}
header .logo {
  display: flex;
}
header .logo img {
  height: 30px;
  margin-right: 1rem;
}
@media(min-width: 767px) {
  header .logo img {
    height: 35px;
  }
}
header nav {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
header ul {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}
header ul li a {
  color: var(--primary-dark-blue);
}
/* End Header */

/* Start Inroduction */
.intro .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  max-width: 400px;
  font-family: var(--open-sans);
}
.intro .intro-img,
.intro .intro-heading {
  flex: 1;
}
.intro img {
  width: 100%;
  margin: 2rem 0;
}
.intro h1 {
  font-weight: 700;
  font-size: 26px;
  color: var(--primary-dark-blue);
}
.intro p {
  color: var(--primary-dark-blue);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Start Form Styles */
.intro form {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.intro form input[type="email"] {
  padding: .75rem 1.5rem;
  margin: 1rem 0;
  font-family: var(--open-sans);
  border: 1px solid var(--primary-dark-blue);
  border-radius: 3px;
}
.intro form input[type="email"]:invalid {
  border: 1px solid red;
}
.intro form .email-error {
  position: absolute;
  bottom: -20px;
  font-family: var(--open-sans);
  font-size: 12px;
  color: red;
  opacity: 0;
}
.intro form input[type="email"]:invalid + .email-error {
  opacity: 1;
}
.intro form input[type="button"] {
  padding: .75rem;
  font-size: 14px;
  font-family: var(--raleway);
  font-weight: 700;
  background-color: var(--accent-blue);
  color: var(--neutral-blue);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.intro form input[type="button"]:hover {
  opacity: .7;
}

/* End Form styles */


@media(min-width: 767px) {
  .intro .container {
    font-family: var(--raleway);
    text-align: left;
    flex-direction: row-reverse;
    align-items: center;
    max-width: none;
  }
  .intro h1 {
    font-size: 2rem;
    max-width: 530px;
  }
  .intro p {
    max-width: 510px;
    font-family: var(--open-sans);
  }
  /* Start Form Adj */
  .intro form {
    flex-direction: row;
    max-height: 50px;
    gap: 1rem;
  }
  .intro form input[type="email"] {
    flex-basis: 50%;
    margin: 0;
  }
  .intro form input[type="button"] {
    flex-basis: 30%;
  }
  /* End Form Adj */
}
/* End Introduction */

/* Start productive */

/* background color and curves */
.productive img[alt = "mobile curve"],
.productive img[alt = "desktop curve"] {
  display: block;
  width: 100%;
}
.productive img[alt = "desktop curve"] {
  display: none;
}
@media(min-width: 767px) {
  .productive img[alt = "mobile curve"] {
    display: none;
  }
  .productive img[alt = "desktop curve"] {
    display: block;
  }
}
.productive .overlay {
  background-color: var(--neutral-blue);
  height: 100px;
}

/* End productive */